.banner-container {
    max-width: 1240px;
    align-self: center;
    position: relative;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    
}
.banner-block {
height: 220px;
max-width: 1240px;
border-radius: 1.5rem;
align-items: center;
justify-content: center;
display: flex;

}

.banner-text {
color: $color2;
font-size: 2rem;
z-index: 3;
line-height: 1.5rem;
margin: 0 1.2rem;
}

.banner-image {
background: url("../../assets/images/HomeBannerImage.jpg");
position: absolute;
z-index: 1;
background-position: center;
background-size: cover;
height: 223px;
width: 100%;
border-radius: 1.5rem;
max-width: 1240px;
opacity: 0.8;
}



@media screen and (max-width: 768px) {
    .banner-container {
        padding: 0;
        
    }
    .banner-block {
        height: 111px;
        border-radius: 0.6rem;
    }
    .banner-text {
        font-size: 1.2rem;
    }
    .banner-image {
        background: url('../../assets/images/BannerHomeMobile.jpg');
        background-position: bottom;
        height: 7rem;
        border-radius: 0.6rem;
    
    }
}