$color2: #f6f6f6;
$m: 500;
$principal-f : 'Montserrat', sans-serif;
$color-1: #FF6060;
@import '../css/index.scss';
@import '../css/Header.scss';
@import '../css/Home.scss';
@import '../css/HomeBanner.scss';
@import '../css/Card.scss';
@import '../css/Location.scss';
@import '../css/Slideshow.scss';
@import '../css/Subside.scss';
@import '../css/Error404.scss';
@import '../css/about.scss';
@import '../css/Footer.scss';
