.subside-block {
    padding: 10px 0px;
    flex:1;
    @media screen and (max-width: 768px) {
            padding: 0;
    }
}
.subside-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-1;
    border-radius: 5px;
    border: none;
    height: 47px;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: $m;
    font-family: $principal-f;
    font-size: 1.2rem;
    color: $color2;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        height: 35px;
    }
}

.subside-text {
    z-index: -1;
    font-family: $principal-f;
    color: $color-1;
    size: 1.4rem;
    top: -5px;
    border-radius: 0px 0px 5px 5px;
    background: $color2;
    position: relative;
    list-style-type: none;
    padding: 15px 10px 5px 10px;
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 768px){
    .arrowDown {
        height: 20px;
    }
    .arrowUp {
        height: 20px;
    }
}
